.body {
    background-color: #F8F7FF;
}

.dashBoard {
    margin-left: 280px;
    min-height: 100vh;
    min-width: calc(100vw - 280px);
}

.taskSheet{
    max-width: 1200px;
    min-width: 700px;
    min-height: 800px;
    margin: 30px 20px 50px 0;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #dfdfdf;
}

.title{
    color:#676767;
    padding:16px 0 10px 40px;
}

.main{
    padding: 30px 50px;
}

.taskTitle{
    padding-bottom: 6px;
}

.taskContainer{
    margin:20px 0px;    
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.taskContainer input{
    margin: 3px 6px;
}
