.feedbackContainer{
    background-color: #fff5f5;
    width: 300px;
    padding-bottom: 20px;
    border-radius: 6px;
}
.feedbackContainer textarea:focus{
    --tw-ring-offset-shadow:none;
}

.header{
    height: 30px;
    background-color: #ffe4e4;
    border-radius: 6px 6px 0 0;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #3f3f3f;
}

.questionnaireCircle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 170px;
    align-items: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: aquamarine;
    font-size: 8px;
    color: #000 !important;
}

.meetingCircle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 280px;
    align-items: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(125, 222, 255);
    font-size: 8px;
    color: #000 !important;

}
.FBIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 30px;
    align-items: center;
    cursor: pointer;
    width: 60px;
    padding-top: 10px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 223, 223);
    font-size: 12px;
    color: #444444 !important;

}

.feedbackModal{
    background-color: #ffffff;
    
    padding: 20px;
    border-radius: 6px;
}
.feedbackModal textarea:focus{
    --tw-ring-offset-shadow:none;
}


